[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
plotly = "*"
dash = "*"
scipy = "*"
pandas-datareader = "*"

[dev-packages]
nbformat = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
